<main id="main-aboutme">
  <section id="about-me">
    <img alt="About-Wallpaper" class="img-fluid img-about" />
    <div class="container position-relative">
      <div class="row position-relative pt-lg-5">
        <div class="col-12 col-sm-6 position-relative">
          <h1
            class="text-warning text-center pt-1 mt-3 mt-md-5 mt-lg-3 animate__animated animate__fadeIn"
          >
            Hi!
          </h1>
          <h1
            class="text-warning text-center pt-1 mt-md-5 mt-lg-3 animate__animated animate__fadeIn animate__delay-1s"
          >
            I'm
            <span
              ><a
                href="#section-description"
                class="text-decoration-none text-white"
                >Omar Arvelo.</a
              ></span
            >
          </h1>
          <h1
            class="text-warning text-center pt-1 mt-md-5 mt-lg-3 animate__animated animate__fadeIn animate__delay-2s"
          >
            Java
            <span
              ><a href="#section-skills" class="text-decoration-none text-white"
                >Full-Stack</a
              ></span
            >
            Developer.
          </h1>
          <h1
            class="text-warning text-center pt-1 mt-md-5 mt-lg-3 animate__animated animate__fadeIn animate__delay-2s"
          >
            Let's go and
            <span
              ><a
                href="#section-portfolio"
                class="text-decoration-none text-white"
                id="nombre"
                >checkout my projects!</a
              ></span
            >
          </h1>
          <a href="#section-description"
            ><h1 class="text-white text-center pt-1 mt-lg-3">
              <i
                class="fa-sharp fa-solid fa-hand-point-down animate__animated animate__fadeIn animate__delay-2s"
              ></i></h1
          ></a>
        </div>
      </div>
    </div>
  </section>
</main>
