<header>
  <nav class="navbar sticky-top navbar-expand-lg bg-warning">
    <section class="container-fluid">
      <a href="#main-aboutme"
        ><button class="btn btn-outline-secondary border-0 text-dark fw-bold">
          Inicio
        </button></a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <section class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <section class="navbar-nav">
          <a
            href="#section-description"
            class="text-decoration-none mx-auto text-center"
            ><button
              class="btn btn-outline-secondary border-0 text-dark fw-bold"
            >
              Acerca de mí
            </button></a
          >
          <a
            href="#section-skills"
            class="text-decoration-none mx-auto text-center"
            ><button
              class="btn btn-outline-secondary border-0 text-dark fw-bold"
            >
              Habilidades
            </button></a
          >
          <a
            href="#section-portfolio"
            class="text-decoration-none mx-auto text-center"
            ><button
              class="btn btn-outline-secondary border-0 text-dark fw-bold"
            >
              Portafolios
            </button></a
          >
          <a
            href="#section-contact"
            class="text-decoration-none mx-auto text-center"
            ><button
              class="btn btn-outline-secondary border-0 text-dark fw-bold"
            >
              Contáctame
            </button></a
          >
        </section>
      </section>
    </section>
  </nav>
</header>
