<section id="section-skills" class="bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-12 mt-2 mt-lg-1">
        <div class="titlebar mt-2 mt-lg-0">
          <h1
            class="text-white text-center mt-5 border-warning border-bottom-1"
          >
            SKILLS
          </h1>
        </div>
      </div>
      <div class="col-12 col-lg-5 mx-auto mt-5 mt-lg-5">
        <div class="circulo mx-auto text-center">
          <img
            src="../../assets/circulojava.png"
            alt="Java"
            width="70"
            height="70"
            class="img mt-1"
          />
          <h3 class="text-white text-center mt-2"> <i class="fa-solid fa-circle-check"></i> Java</h3>
        </div>
      </div>
      <div class="col-12 col-lg-5 mx-auto mt-5 mt-lg-5">
        <div class="circulo mx-auto text-center">
          <img
            src="../../assets/circulospring.png"
            alt="Sass"
            width="70"
            height="70"
            class="img mt-1"
          />
          <h3 class="text-white text-center mt-2"><i class="fa-solid fa-circle-check"></i> Spring</h3>

        </div>
      </div>
      <div class="col-12 col-lg-5 mx-auto mt-5 mt-lg-5">
        <div class="circulo mx-auto text-center">
          <img
            src="../../assets/circulohtml.png"
            alt="HTML"
            width="70"
            height="70"
            class="img mt-1"
          />
          <h3 class="text-white text-center mt-2"><i class="fa-solid fa-circle-check"></i> HTML</h3>

        </div>
      </div>
      <div class="col-12 col-lg-5 mx-auto mt-5 mt-lg-5">
        <div class="circulo mx-auto text-center">
          <img
            src="../../assets/circulocss.png"
            alt="CSS"
            width="70"
            height="70"
            class="img mt-1"
          />
          <h3 class="text-white text-center mt-2"><i class="fa-solid fa-circle-check"></i> CSS</h3>

        </div>
      </div>
      <div class="col-12 col-lg-5 mx-auto mt-5 mt-lg-5">
        <div class="circulo mx-auto text-center">
          <img
            src="../../assets/circulojs.png"
            alt="JavaScript"
            width="70"
            height="70"
            class="img mt-1"
          />
          <h3 class="text-white text-center mt-2"><i class="fa-solid fa-circle-check"></i> JavaScript</h3>

        </div>
      </div>
      <div class="col-12 col-lg-5 mx-auto mt-5 mt-lg-5">
        <div class="circulo mx-auto text-center">
          <img
            src="../../assets/circulobootstrap.png"
            alt="Bootstrap"
            width="70"
            height="70"
            class="img mt-1"
          />
          <h3 class="text-white text-center mt-2"><i class="fa-solid fa-circle-check"></i> Bootstrap</h3>

        </div>
      </div>
      <div class="col-12 col-lg-5 mx-auto mt-5 mt-lg-5">
        <div class="circulo mx-auto text-center">
          <img
            src="../../assets/circlets.png"
            alt="TypeScript"
            width="70"
            height="70"
            class="img mt-1"
          />
          <div class="">

            <h3 class="text-white text-center mt-2"><i class="fa-solid fa-circle-check"></i> TypeScript</h3>
          </div>

        </div>
      </div>
      <div class="col-12 col-lg-5 mx-auto mt-5 mt-lg-5">
        <div class="circulo mx-auto text-center">
          <img
            src="../../assets/circuloangular.png"
            alt="Angular"
            width="70"
            height="70"
            class="img mt-1"
          />
          <h3 class="text-white text-center mt-2"><i class="fa-solid fa-circle-check"></i> Angular</h3>


        </div>
      </div>
      <div class="col-12 col-lg-5 mx-auto mt-5 mt-lg-5">
        <div class="circulo mx-auto text-center">
          <img
            src="../../assets/circulosql.png"
            alt="SQL"
            width="70"
            height="70"
            class="img mt-1"
          />
          <h3 class="text-white text-center mt-2"><i class="fa-solid fa-circle-check"></i> SQL</h3>


        </div>
      </div>
      <div class="col-12 col-lg-5 mx-auto mt-5 mt-lg-5">
        <div class="circulo mx-auto text-center">
          <img
            src="../../assets/circlegit.png"
            alt="Git"
            width="70"
            height="70"
            class="img mt-1"
          />
          <h3 class="text-white text-center mt-2"><i class="fa-solid fa-circle-check"></i> Git</h3>


        </div>
      </div>
      <div class="col-12 col-lg-5 mx-auto mt-5 mt-lg-5">
        <div class="circulo mx-auto text-center">
          <img
            src="../../assets/dockercircle.png"
            alt="Docker"
            width="70"
            height="70"
            class="img mt-1"
          />
          <h3 class="text-white text-center mt-2"><i class="fa-solid fa-circle-check"></i> Docker</h3>


        </div>
      </div>
      <div class="col-12 col-lg-5 mx-auto mt-5 mt-lg-5">
        <div class="circulo mx-auto text-center">
          <img
            src="../../assets/circulokubernetes.png"
            alt="Kubernetes"
            width="70"
            height="70"
            class="img mt-1"
          />
          <h3 class="text-white text-center mt-2"><i class="fa-solid fa-circle-check"></i> Kubernetes</h3>

        </div>
      </div>
    </div>
  </div>
</section>
