<section id="section-skills" class="bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-12 mt-2 mt-lg-1">
        <div class="titlebar mt-2 mt-lg-0">
          <h1
            class="text-white text-center mt-5 border-warning border-bottom-1"
          >
            SKILLS
          </h1>
        </div>
      </div>
      <div class="col-12 col-lg-5 mx-auto mt-5 mt-lg-5">
        <div class="circulo mx-auto text-center">
          <img
            src="../../assets/circulojava.png"
            alt="Java"
            width="70"
            height="70"
            class="img mt-1"
          />
          <h3 class="text-white text-center mt-2">Java</h3>
          <div class="progress mt-3">
            <div
              class="progress-bar-striped progress-bar-animated bg-warning barra"
              role="progressbar"
              aria-label="Java Progress Bar"
              style="width: 90%"
              aria-valuenow="90"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              <span class="text-dark fw-bold">90%</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-5 mx-auto mt-5 mt-lg-5">
        <div class="circulo mx-auto text-center">
          <img
            src="../../assets/circulospring.png"
            alt="Sass"
            width="70"
            height="70"
            class="img mt-1"
          />
          <h3 class="text-white text-center mt-2">Spring</h3>
          <div class="progress mt-3">
            <div
              class="progress-bar-striped progress-bar-animated bg-warning barra"
              role="progressbar"
              aria-label="Spring Progress Bar"
              style="width: 80%"
              aria-valuenow="80"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              <span class="text-dark fw-bold">80%</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-5 mx-auto mt-5 mt-lg-5">
        <div class="circulo mx-auto text-center">
          <img
            src="../../assets/circulohtml.png"
            alt="HTML"
            width="70"
            height="70"
            class="img mt-1"
          />
          <h3 class="text-white text-center mt-2">HTML</h3>
          <div class="progress mt-3">
            <div
              class="progress-bar-striped progress-bar-animated bg-warning barra"
              role="progressbar"
              aria-label="HTML Progress Bar"
              style="width: 80%"
              aria-valuenow="80"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              <span class="text-dark fw-bold">80%</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-5 mx-auto mt-5 mt-lg-5">
        <div class="circulo mx-auto text-center">
          <img
            src="../../assets/circulocss.png"
            alt="CSS"
            width="70"
            height="70"
            class="img mt-1"
          />
          <h3 class="text-white text-center mt-2">CSS</h3>
          <div class="progress mt-3">
            <div
              class="progress-bar-striped progress-bar-animated bg-warning barra"
              role="progressbar"
              aria-label="CSS Progress Bar"
              style="width: 75%"
              aria-valuenow="75"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              <span class="text-dark fw-bold">75%</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-5 mx-auto mt-5 mt-lg-5">
        <div class="circulo mx-auto text-center">
          <img
            src="../../assets/circulojs.png"
            alt="JavaScript"
            width="70"
            height="70"
            class="img mt-1"
          />
          <h3 class="text-white text-center mt-2">JavaScript</h3>
          <div class="progress mt-3">
            <div
              class="progress-bar-striped progress-bar-animated bg-warning barra"
              role="progressbar"
              aria-label="JavaScript Progress Bar"
              style="width: 75%"
              aria-valuenow="75"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              <span class="text-dark fw-bold">75%</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-5 mx-auto mt-5 mt-lg-5">
        <div class="circulo mx-auto text-center">
          <img
            src="../../assets/circulobootstrap.png"
            alt="Bootstrap"
            width="70"
            height="70"
            class="img mt-1"
          />
          <h3 class="text-white text-center mt-2">Bootstrap</h3>
          <div class="progress mt-3">
            <div
              class="progress-bar-striped progress-bar-animated bg-warning barra"
              role="progressbar"
              aria-label="JavaScript Progress Bar"
              style="width: 70%"
              aria-valuenow="70"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              <span class="text-dark fw-bold">70%</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-5 mx-auto mt-5 mt-lg-5">
        <div class="circulo mx-auto text-center">
          <img
            src="../../assets/circlets.png"
            alt="TypeScript"
            width="70"
            height="70"
            class="img mt-1"
          />
          <h3 class="text-white text-center mt-2">TypeScript</h3>
          <div class="progress mt-3">
            <div
              class="progress-bar-striped progress-bar-animated bg-warning barra"
              role="progressbar"
              aria-label="TypeScript Progress Bar"
              style="width: 70%"
              aria-valuenow="70"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              <span class="text-dark fw-bold">70%</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-5 mx-auto mt-5 mt-lg-5">
        <div class="circulo mx-auto text-center">
          <img
            src="../../assets/circuloangular.png"
            alt="Angular"
            width="70"
            height="70"
            class="img mt-1"
          />
          <h3 class="text-white text-center mt-2">Angular</h3>

          <div class="progress mt-3">
            <div
              class="progress-bar-striped progress-bar-animated bg-warning barra"
              role="progressbar"
              aria-label="Angular Progress Bar"
              style="width: 70%"
              aria-valuenow="70"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              <span class="text-dark fw-bold">70%</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-5 mx-auto mt-5 mt-lg-5">
        <div class="circulo mx-auto text-center">
          <img
            src="../../assets/circulosql.png"
            alt="SQL"
            width="70"
            height="70"
            class="img mt-1"
          />
          <h3 class="text-white text-center mt-2">SQL</h3>

          <div class="progress mt-3">
            <div
              class="progress-bar-striped progress-bar-animated bg-warning barra"
              role="progressbar"
              aria-label="SQL Progress Bar"
              style="width: 65%"
              aria-valuenow="65"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              <span class="text-dark fw-bold">65%</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-5 mx-auto mt-5 mt-lg-5">
        <div class="circulo mx-auto text-center">
          <img
            src="../../assets/circlegit.png"
            alt="Git"
            width="70"
            height="70"
            class="img mt-1"
          />
          <h3 class="text-white text-center mt-2">Git</h3>

          <div class="progress mt-3">
            <div
              class="progress-bar-striped progress-bar-animated bg-warning barra"
              role="progressbar"
              aria-label="SQL Progress Bar"
              style="width: 65%"
              aria-valuenow="65"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              <span class="text-dark fw-bold">65%</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-5 mx-auto mt-5 mt-lg-5">
        <div class="circulo mx-auto text-center">
          <img
            src="../../assets/dockercircle.png"
            alt="Docker"
            width="70"
            height="70"
            class="img mt-1"
          />
          <h3 class="text-white text-center mt-2">Docker</h3>

          <div class="progress mt-3">
            <div
              class="progress-bar-striped progress-bar-animated bg-warning barra"
              role="progressbar"
              aria-label="SQL Progress Bar"
              style="width: 50%"
              aria-valuenow="50"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              <span class="text-dark fw-bold">50%</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-5 mx-auto mt-5 mt-lg-5">
        <div class="circulo mx-auto text-center">
          <img
            src="../../assets/circulokubernetes.png"
            alt="Kubernetes"
            width="70"
            height="70"
            class="img mt-1"
          />
          <h3 class="text-white text-center mt-2">Kubernetes</h3>
          <div class="progress mt-3">
            <div
              class="progress-bar-striped progress-bar-animated bg-warning barra"
              role="progressbar"
              aria-label="SQL Progress Bar"
              style="width: 50%"
              aria-valuenow="50"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              <span class="text-dark fw-bold">50%</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
