<section id="section-portfolio" class="bg-dark">
  <main class="container">
    <section class="row">
      <article class="col-12 mt-2 mt-lg-1">
        <section class="titlebar mt-2 mt-lg-0">
          <h1
            class="text-white text-center mt-5 border-warning border-bottom-1"
          >
            PORTFOLIO
          </h1>
        </section>
      </article>
        <article class="col-12 col-lg-4 mt-4 mt-lg-1">
          <section class="card bg-warning mb-3">
            <img src="../../assets/sistemaexamenes.png" class="card-img-top" alt="Sistema de Exámenes Preview">
            <section class="card-body bg-warning">
              <h4 class="card-title text-center my-2 fw-bolder">Sistema de Exámenes</h4>
              <h5 class="card-title text-center my-3 fw-semibold">App orientada para instructores y alumnos donde se puedan ejecutar exámenes.</h5>
              <p class="card-text fs-5 mt-2 fw-bold"><i class="fa-solid fa-circle-chevron-right"></i> Categoría:</p>
              <p class="card-text fs-6 fw-semibold"><i class="fa-solid fa-circle-check"></i> Full-Stack</p>
              <p class="card-text fs-5 fw-bold"><i class="fa-solid fa-circle-chevron-right"></i> Tecnologías:</p>
              <p class="card-text fs-6 fw-semibold"><i class="fa-solid fa-circle-right"></i> Spring(Boot,Security), JWT, MySQL.</p>
              <p class="card-text fs-6 fw-semibold"><i class="fa-solid fa-circle-right"></i> Angular, Angular Material.</p>
              <p class="card-text fs-6 fw-semibold"><i class="fa-solid fa-circle-right"></i> Bootstrap.</p>
              <p class="mx-auto text-center"><a href="https://sistema-examenes.vercel.app/login" target="_blank"  class="btn btn-primary mx-2 bg-dark border  border-dark text-white my-2"><i class="fa-solid fa-arrow-up-right-from-square"></i> Visitar</a>
                <a href="https://github.com/TheVolkner/sistema-examenes-backend" target="_blank" class="btn btn-primary mx-2 bg-dark border border-dark text-white my-2"><i class="fa-solid fa-book"></i> Repositorio Back</a> <a href="https://github.com/TheVolkner/sistema-examenes" target="_blank" class="btn btn-primary mx-2 bg-dark border border-dark text-white my-2"><i class="fa-solid fa-book"></i> Repositorio Front</a></p>
            </section>
          </section>
        </article>
        <article class="col-12 col-lg-4 mt-4 mt-lg-1">
          <section class="card bg-warning mb-3">
            <img src="../../assets/panthersearch-pc.png" class="card-img-top" alt="Sistema de Exámenes Preview">
            <section class="card-body bg-warning">
              <h4 class="card-title text-center my-2 fw-bolder">Panther Search Engine</h4>
              <h5 class="card-title text-center my-3 fw-semibold">Web scrapper que procesa busquedas basandose en la web de CNN en Español.</h5>
              <p class="card-text fs-5 mt-2 fw-bold"><i class="fa-solid fa-circle-chevron-right"></i> Categoría:</p>
              <p class="card-text fs-6 fw-semibold"><i class="fa-solid fa-circle-check"></i> Full-Stack</p>
              <p class="card-text fs-5 fw-bold"><i class="fa-solid fa-circle-chevron-right"></i> Tecnologías:</p>
              <p class="card-text fs-6 fw-semibold"><i class="fa-solid fa-circle-right"></i> Spring(Boot), MySQL.</p>
              <p class="card-text fs-6 fw-semibold"><i class="fa-solid fa-circle-right"></i> Angular.</p>
              <p class="card-text fs-6 fw-semibold"><i class="fa-solid fa-circle-right"></i> Bootstrap.</p>
              <p class="mx-auto text-center"><a href="https://techpanther-search.vercel.app/" target="_blank"  class="btn btn-primary mx-2 bg-dark border  border-dark text-white my-2"><i class="fa-solid fa-arrow-up-right-from-square"></i> Visitar</a>
                <a href="https://github.com/TheVolkner/techpanther-search-engine-backend" target="_blank" class="btn btn-primary mx-2 bg-dark border border-dark text-white my-2"><i class="fa-solid fa-book"></i> Repositorio Back</a> <a href="https://github.com/TheVolkner/techpanther-search-engine-frontend" target="_blank" class="btn btn-primary mx-2 bg-dark border border-dark text-white my-2"><i class="fa-solid fa-book"></i> Repositorio Front</a></p>
            </section>
          </section>
        </article>
        <article class="col-12 col-lg-4 mt-4 mt-lg-1">
          <section class="card bg-warning mb-3">
            <img src="../../assets/controlclientes.png" class="card-img-top" alt="Sistema de Exámenes Preview">
            <section class="card-body bg-warning">
              <h4 class="card-title text-center my-2 fw-bolder">Control Clientes</h4>
              <h5 class="card-title text-center my-3 fw-semibold">App para administrar y procesar clientela de un negocio o alguna empresa.</h5>
              <p class="card-text fs-5 mt-2 fw-bold"><i class="fa-solid fa-circle-chevron-right"></i> Categoría:</p>
              <p class="card-text fs-6 fw-semibold"><i class="fa-solid fa-circle-check"></i> Full-Stack</p>
              <p class="card-text fs-5 fw-bold"><i class="fa-solid fa-circle-chevron-right"></i> Tecnologías:</p>
              <p class="card-text fs-6 fw-semibold"><i class="fa-solid fa-circle-right"></i> Angular.</p>
              <p class="card-text fs-6 fw-semibold"><i class="fa-solid fa-circle-right"></i> Firebase.</p>
              <p class="card-text fs-6 fw-semibold mb-lg-4"><i class="fa-solid fa-circle-right"></i> Bootstrap.</p>
              <p class="mx-auto text-center mb-lg-5"><a href="https://control-clientes.vercel.app/" target="_blank" class="btn btn-primary mx-2 bg-dark border  border-dark text-white my-2"><i class="fa-solid fa-arrow-up-right-from-square"></i> Visitar</a>
                <a href="https://github.com/TheVolkner/control-clientes" target="_blank" class="btn btn-primary mx-2 bg-dark border border-dark text-white my-2"><i class="fa-solid fa-book"></i> Repositorio</a></p>
            </section>
          </section>
        </article>
        <article class="col-12 col-lg-4 mt-4 mt-lg-1">
          <section class="card bg-warning mb-3">
            <img src="../../assets/presupuesto.png" class="card-img-top" alt="Sistema de Exámenes Preview">
            <section class="card-body bg-warning">
              <h4 class="card-title text-center my-2 fw-bolder">Presupuesto App</h4>
              <h5 class="card-title text-center my-3 fw-semibold">Web orientada a la organización y manejo del capital del cliente.</h5>
              <p class="card-text fs-5 mt-2 fw-bold"><i class="fa-solid fa-circle-chevron-right"></i> Categoría:</p>
              <p class="card-text fs-6 fw-semibold"><i class="fa-solid fa-circle-check"></i> Front-End</p>
              <p class="card-text fs-5 fw-bold"><i class="fa-solid fa-circle-chevron-right"></i> Tecnologías:</p>
              <p class="card-text fs-6 fw-semibold"><i class="fa-solid fa-circle-right"></i> Spring(Boot), MySQL.</p>
              <p class="card-text fs-6 fw-semibold"><i class="fa-solid fa-circle-right"></i> Angular.</p>
              <p class="card-text fs-6 fw-semibold"><i class="fa-solid fa-circle-right"></i> Bootstrap.</p>
              <p class="mx-auto text-center"><a href="https://presupuestos-app.vercel.app/" target="_blank" class="btn btn-primary mx-2 bg-dark border  border-dark text-white my-2"><i class="fa-solid fa-arrow-up-right-from-square"></i> Visitar</a>
                <a href="https://github.com/TheVolkner/presupuesto-app" target="_blank" class="btn btn-primary mx-2 bg-dark border border-dark text-white my-2"><i class="fa-solid fa-book"></i> Repositorio</a></p>
            </section>
          </section>
        </article>
         <article class="col-12 col-lg-4 mt-4 mt-lg-1">
          <section class="card bg-warning mb-3">
            <img src="../../assets/advicegenerator.png" class="card-img-top" alt="Sistema de Exámenes Preview">
            <section class="card-body bg-warning">
              <h4 class="card-title text-center my-2 fw-bolder">Advice Generator</h4>
              <h5 class="card-title text-center my-3 fw-semibold">Web que te regala un consejo cada vez que das click al botón :)</h5>
              <p class="card-text fs-5 mt-2 fw-bold"><i class="fa-solid fa-circle-chevron-right"></i> Categoría:</p>
              <p class="card-text fs-6 fw-semibold"><i class="fa-solid fa-circle-check"></i> Front-End</p>
              <p class="card-text fs-5 fw-bold"><i class="fa-solid fa-circle-chevron-right"></i> Tecnologías:</p>
              <p class="card-text fs-6 fw-semibold"><i class="fa-solid fa-circle-right"></i> HTML.</p>
              <p class="card-text fs-6 fw-semibold"><i class="fa-solid fa-circle-right"></i> CSS, Bootstrap.</p>
              <p class="card-text fs-6 fw-semibold"><i class="fa-solid fa-circle-right"></i> JavaScript.</p>
              <p class="mx-auto text-center"><a href="https://thevolkner.github.io/advicegenerator/" target="_blank" class="btn btn-primary mx-2 bg-dark border  border-dark text-white my-2"><i class="fa-solid fa-arrow-up-right-from-square"></i> Visitar</a>
                <a href="https://github.com/TheVolkner/advicegenerator" target="_blank" class="btn btn-primary mx-2 bg-dark border border-dark text-white my-2"><i class="fa-solid fa-book"></i> Repositorio</a></p>
            </section>
          </section>
        </article>
        <article class="col-12 col-lg-4 mt-4 mt-lg-1">
          <section class="card bg-warning mb-3">
            <video controls class="video-techpanther">
              <source src="../../assets/TechpPanther Test.mp4" class="w-100 p-0 m-0" type="video/mp4">
              <source src="movie.ogg" type="video/ogg">
            Your browser does not support the video tag.
            </video>
            <section class="card-body bg-warning">
              <h4 class="card-title text-center my-2 fw-bolder">TechPanther Wizard </h4>
              <h5 class="card-title text-center my-3 fw-semibold">Administración de trabajadores y clientes en un servicio técnico de móviles</h5>
              <p class="card-text fs-5 mt-2 fw-bold"><i class="fa-solid fa-circle-chevron-right"></i> Categoría:</p>
              <p class="card-text fs-6 fw-semibold"><i class="fa-solid fa-circle-check"></i> Desktop</p>
              <p class="card-text fs-5 fw-bold"><i class="fa-solid fa-circle-chevron-right"></i> Tecnologías:</p>
              <p class="card-text fs-6 fw-semibold"><i class="fa-solid fa-circle-right"></i> Java Swing.</p>
              <p class="card-text fs-6 fw-semibold"><i class="fa-solid fa-circle-right"></i> MySQL.</p>
              <p class="mx-auto text-center"><a href="https://github.com/TheVolkner/techpanther-wizard" target="_blank" class="btn btn-primary mx-2 bg-dark border border-dark text-white"><i class="fa-solid fa-book"></i> Repositorio</a></p>
            </section>
          </section>
        </article>
        <article class="col-12 col-lg-4 mt-4 mt-lg-1">
          <section class="card bg-warning mb-3">
            <section class="card-body bg-warning">
              <h4 class="card-title text-center my-2 fw-bolder">API RESTful - Sistema Blog</h4>
              <h5 class="card-title text-center my-3 fw-semibold">Administracion,validación y control de usuarios y sus publicaciones en un blog.</h5>
              <p class="card-text fs-5 mt-2 fw-bold"><i class="fa-solid fa-circle-chevron-right"></i> Categoría:</p>
              <p class="card-text fs-6 fw-semibold"><i class="fa-solid fa-circle-check"></i> Back-End</p>
              <p class="card-text fs-5 fw-bold"><i class="fa-solid fa-circle-chevron-right"></i> Tecnologías:</p>
              <p class="card-text fs-6 fw-semibold"><i class="fa-solid fa-circle-right"></i> Spring(Boot, Security)</p>
              <p class="card-text fs-6 fw-semibold"><i class="fa-solid fa-circle-right"></i> JWT.</p>
              <p class="card-text fs-6 fw-semibold"><i class="fa-solid fa-circle-right"></i> MySQL.</p>
              <p class="mx-auto text-center"><a href="https://github.com/TheVolkner/sistema-blog-api" target="_blank" class="btn btn-primary mx-2 bg-dark border border-dark text-white"><i class="fa-solid fa-book"></i> Repositorio</a></p>
            </section>
          </section>
        </article>
        <article class="col-12 col-lg-4 mt-4 mt-lg-1">
          <section class="card bg-warning mb-3">
            <section class="card-body bg-warning">
              <h4 class="card-title text-center my-2 fw-bolder">MicroServices - Vehículos de Usuario</h4>
              <h5 class="card-title text-center my-3 fw-semibold">3 Microservicios para los vehículos pertenecientes a un Usuario.</h5>
              <p class="card-text fs-5 mt-2 fw-bold"><i class="fa-solid fa-circle-chevron-right"></i> Categoría:</p>
              <p class="card-text fs-6 fw-semibold"><i class="fa-solid fa-circle-check"></i> Back-End</p>
              <p class="card-text fs-5 fw-bold"><i class="fa-solid fa-circle-chevron-right"></i> Tecnologías:</p>
              <p class="card-text fs-6 fw-semibold"><i class="fa-solid fa-circle-right"></i> Spring(Boot,Security,Cloud)</p>
              <p class="card-text fs-6 fw-semibold"><i class="fa-solid fa-circle-right"></i> Keycloak, JWT.</p>
              <p class="card-text fs-6 fw-semibold"><i class="fa-solid fa-circle-right"></i> MySQL.</p>
              <p class="mx-auto text-center"><a href="https://github.com/TheVolkner/microservices-usuario/tree/keycloak" target="_blank" class="btn btn-primary mx-2 bg-dark border border-dark text-white"><i class="fa-solid fa-book"></i> Repositorio</a></p>
            </section>
          </section>
        </article>
        <article class="col-12 col-lg-4 mt-4 mt-lg-1">
          <section class="card bg-warning mb-3">
            <section class="card-body bg-warning">
              <h4 class="card-title text-center my-2 fw-bolder">API REST Reactive - Contactos App</h4>
              <h5 class="card-title text-center my-3 fw-semibold">Sistema de administracion de contactos asincrónico manejando programación reactiva</h5>
              <p class="card-text fs-5 mt-2 fw-bold"><i class="fa-solid fa-circle-chevron-right"></i> Categoría:</p>
              <p class="card-text fs-6 fw-semibold"><i class="fa-solid fa-circle-check"></i> Back-End</p>
              <p class="card-text fs-5 fw-bold"><i class="fa-solid fa-circle-chevron-right"></i> Tecnologías:</p>
              <p class="card-text fs-6 fw-semibold"><i class="fa-solid fa-circle-right"></i>Spring (Boot, WebFlux)</p>
              <p class="card-text fs-6 fw-semibold"><i class="fa-solid fa-circle-right"></i> MongoDB.</p>
              <p class="mx-auto text-center"><a href="https://github.com/TheVolkner/reactive-contactos-mongdb" target="_blank" class="btn btn-primary mx-2 bg-dark border border-dark text-white"><i class="fa-solid fa-book"></i> Repositorio</a></p>
            </section>
          </section>
        </article>
      </section>
  </main>
</section>
