<section id="section-description" class="bg-dark">
  <main class="container">
    <section class="row">
      <article class="col-12 mt-2 mt-lg-1">
        <div class="titlebar mt-2 mt-lg-0">
          <h1
            class="text-white text-center mt-5 border-warning border-bottom-1"
          >
            Acerca de Omar
          </h1>
        </div>
      </article>
      <article class="col-12">
        <div class="text-center mt-3">
          <img
            src="../../assets/pic.jpg"
            class="rounded mx-auto d-block rounded-5 border border-warning border-4"
            height="200"
            width="200"
            alt="About me picture"
          />
          <h4 class="text-white text-center mt-2 opacity-75">¿Qué ofrezco a tu empresa?</h4>
        </div>
      </article>
      <article class="col-12 col-lg-6 mx-auto text-center mt-2">
        <section class="row">
          <article class="col-12 mt-4">
            <section class="card text-center bg-warning">
              <article class="card-header">
                <section class="heptagono mx-auto text-center bg-dark">
                  <i class="fa-solid fa-rocket text-white fs-2 pt-3"></i>
                </section>
              </article>
              <section class="card-body">
                <h5 class="card-title">Compromiso</h5>
                <p class="card-text">
                  Para adaptarse a las nuevas tecnologías y necesidades de la empresa
                </p>

              </section>
            </section>
          </article>
          <article class="col-12 col-lg-6 mt-4">
            <section class="card text-center bg-warning">
              <article class="card-header">
                <section class="heptagono mx-auto text-center bg-dark">
                  <i class="fa-solid fa-computer text-white fs-2 pt-3"></i>
                </section>
              </article>
              <section class="card-body">
                <h5 class="card-title">Experiencia</h5>
                <p class="card-text">
                  A disposición un servicio de desarollo web completo, conocimiento técnico en hardware,software y herramientas de diseño.
                </p>
              </section>
            </section>
          </article>
          <article class="col-12 col-lg-6 mt-4">
            <section class="card text-center bg-warning">
              <article class="card-header">
                <section class="heptagono mx-auto text-center bg-dark">
                  <i class="fa-regular fa-lightbulb text-white fs-2 pt-3"></i>
                </section>
              </article>
              <section class="card-body">
                <h5 class="card-title">Innovación</h5>
                <p class="card-text">
                  Con el propósito de brindar ideas, soluciones y alternativas que mejoren y aumenten la productividad del equipo de desarrollo.
                </p>
              </section>
            </section>
          </article>
          <article class="col-12 mt-4">
            <section class="card text-center bg-warning">
              <article class="card-header">
                <section class="heptagono mx-auto text-center bg-dark">
                  <i
                    class="fa-solid fa-handshake-angle text-white fs-2 pt-3"
                  ></i>
                </section>
              </article>
              <section class="card-body">
                <h5 class="card-title">Comunicación</h5>
                <p class="card-text">
                  Presentando dominio de los idiomas inglés y español. Con el objetivo de mejorar la comunicación y manejo de tecnologías del equipo.
                </p>
              </section>
            </section>
          </article>
          <article class="col-12 mt-4">
            <section class="card text-center bg-secondary">
              <article class="card-body">
                <h5 class="card-title text-white">¡Échale un vistazo más técnico a mi perfil!</h5>
                <p class="card-text">
                  <button type="button" class="btn btn-rounded btn-dark waves-effect waves-light"><i class="fas fa-th-list pr-2" aria-hidden="true"></i> Descargar CV</button>
                </p>
              </article>
            </section>
          </article>
        </section>
      </article>
    </section>
  </main>
</section>
