<section id="section-description" class="bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-12 mt-2 mt-lg-1">
        <div class="titlebar mt-2 mt-lg-0">
          <h1
            class="text-white text-center mt-5 border-warning border-bottom-1"
          >
            About Omar
          </h1>
        </div>
      </div>
      <div class="col-12">
        <div class="text-center mt-3">
          <img
            src="../../assets/pic.jpg"
            class="rounded mx-auto d-block rounded-5 border border-warning border-4"
            height="200"
            width="200"
            alt="About me picture"
          />
          <h4 class="text-white text-center mt-2 opacity-75">
            What would you expect working with me?
          </h4>
        </div>
      </div>
      <div class="col-12 col-lg-6 mx-auto text-center mt-2">
        <div class="row">
          <div class="col-12 mt-4">
            <div class="card text-center bg-warning">
              <div class="card-header">
                <section class="heptagono mx-auto text-center bg-dark">
                  <i class="fa-solid fa-rocket text-white fs-2 pt-3"></i>
                </section>
              </div>
              <div class="card-body">
                <h5 class="card-title">Focus</h5>
                <p class="card-text">
                  To work with the best techniques and tools in order to improve
                  my software development
                </p>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6 mt-4">
            <div class="card text-center bg-warning">
              <div class="card-header">
                <div class="heptagono mx-auto text-center bg-dark">
                  <i class="fa-solid fa-computer text-white fs-2 pt-3"></i>
                </div>
              </div>
              <div class="card-body">
                <h5 class="card-title">Experience</h5>
                <p class="card-text">
                  I'm a software developer with experience working as a PC Tech
                  Service and using Graphic Design tools.
                </p>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6 mt-4">
            <div class="card text-center bg-warning">
              <div class="card-header">
                <div class="heptagono mx-auto text-center bg-dark">
                  <i class="fa-regular fa-lightbulb text-white fs-2 pt-3"></i>
                </div>
              </div>
              <div class="card-body">
                <h5 class="card-title">Innovation</h5>
                <p class="card-text">
                  Always with the goal of bring ideas and alternatives to found
                  solutions and improve the team and project success.
                </p>
              </div>
            </div>
          </div>
          <div class="col-12 mt-4">
            <div class="card text-center bg-warning">
              <div class="card-header">
                <div class="heptagono mx-auto text-center bg-dark">
                  <i
                    class="fa-solid fa-handshake-angle text-white fs-2 pt-3"
                  ></i>
                </div>
              </div>
              <div class="card-body">
                <h5 class="card-title">Communication</h5>
                <p class="card-text">
                  My native language is spanish, and then I learned english. So
                  I can properly work and communicate with my team mates and
                  clients in both languages.
                </p>
              </div>
            </div>
          </div>
          <div class="col-12 mt-4">
            <div class="card text-center bg-secondary">
              <div class="card-body">
                <h5 class="card-title text-white">
                  ¡Checkout more details in my CV!
                </h5>
                <p class="card-text">
                  <a
                    href="https://drive.google.com/uc?id=10R8Uq-rwNk6jQQdTmW6v1prXUN8t8cmW&export=download"
                    class="text-decoration-none"
                    ><button
                      type="button"
                      class="btn btn-rounded btn-dark waves-effect waves-light"
                    >
                      <i class="fas fa-th-list pr-2" aria-hidden="true"></i>
                      Download CV
                    </button></a
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
